body {
    font-family: 'Poppins', sans-serif;
    background: url('https://t3.ftcdn.net/jpg/08/72/41/22/360_F_872412263_cinKZHHzFNCftHin24iJ6BtWThorWjOO.jpg') no-repeat center center fixed;
    background-size: 100% 100vh;
    color: #0f0f0f;
    text-align: center;
    padding: 20px;
    margin: 0;
}




.container {
    max-width: 400px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

input, button {
    padding: 10px;
    width: 80%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button:not(.home-btn) {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.weather-card {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-align: center;
}

.emoji {
    font-size: 4rem;
    margin: 10px 0;
}

.temp {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.condition {
    font-size: 1.2rem;
    text-transform: capitalize;
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }
}
